manifest {
    author = "Sophie-Luise Heidig"
    version = "1.0.0"
    homePage = 
    mainScript = "achro.nf"
    name = "achro"
    description = "stuff"
    defaultBranch = "main"
}

//create unique output folders
params.executionTimestamp = new java.text.SimpleDateFormat("yyyy_MM_dd_HH_mm_ss").format(new Date())

//Parameters to adapt run to dataset

params.condaEnvPath     = false   

params.data             = "$launchDir/data"
params.outFolder        = "$launchDir/"

params.structures       = false
params.predictRemaining = false
params.orthoGroupSeqs   = false

params.minCoverage      = 0.8
params.outGroup         = false

params.foldseekClusters = false


report {
    enabled = false
    file = "$params.outFolder/nextflow_report.html"
    overwrite = true
}
    
trace {
    enabled = false
    raw = true
    file = "$params.outFolder/resources.txt"
    overwrite = true
}


profiles {
    standard {
        process {
            executor = 'local'
            conda = "${params.condaEnvPath ? params.condaEnvPath : 'recipes/conda_env_m_apple_simsapiper.yml'}"
            container = 'slheidig/simsapiper:05'
        }
    }

    hydra { 
        singularity { 
                enabled = true
                cacheDir = "$VSC_SCRATCH_VO_USER/.apptainer"
        }
        
        process {

            executor = 'local'
            cpus ='1'
            //memory ='4 GB'
            //time ='10min'

            pollInterval = '5 sec'
            queueSize = 50

            //module = 'Biopython/1.79-foss-2022a:SciPy-bundle/2022.05-foss-2022a:matplotlib/3.5.2-foss-2022a'


            withName:'runOrthofinder'{
                executor = 'slurm' 
                cpus = '20'
                memory = 40.GB
                time =  '2.h '
                container="/scratch/brussel/vo/000/bvo00023/vsc10579/.apptainer/orthofinder.sif"
            }
            //withName:'runCDHIT'{
            //    module    = 'CD-HIT/4.8.1-GCC-11.3.0:BLAST+/2.13.0-gompi-2022a'
            //}
            withName:'predictStructures'{
                executor = 'slurm' 
                module  = 'legacy-software:ESM-2/2.0.0-foss-2021a-CUDA-11.3.1:OpenFold/1.0.1-foss-2021a-CUDA-11.3.1'
                time =  { 15.h * task.attempt  } 
                memory = { 20.GB }
                clusterOptions = "--partition=ampere_gpu  --nodes=1 --gpus-per-node=1 --ntasks-per-gpu=1 --cpus-per-gpu=8"
            }
            withName:'runFoldseek'{
                executor = 'slurm'  
                cpus = '10'
                memory = 20.GB
                time =  '30min'
                //container="/scratch/brussel/vo/000/bvo00023/vsc10579/.apptainer/foldseek.sif"
                //clusterOptions = "--begin=now+60"
            }
        }
    }
    
    withdocker {
        docker.enabled = true
        singularity.enabled = false

        docker.temp = 'auto'
    }

    withsingularity {
        docker.enabled = false
        singularity {
            enabled = true
            runOptions = "-B /run"
        }
    }

    withconda {
        conda.enabled = true
    }
}
